body {
  font-family: Arial, sans-serif;
  padding: 0 20px;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sortable {
  cursor: pointer;
}

#addRow, #moveUp, #moveDown, #refreshData, #saveToJson{
  color: blue;
}

#deleteRow{
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead th {
  background-color: #f2f2f2;
  padding: 10px;
  cursor: pointer;
  text-align: left;
}

td, th {
  padding: 8px;
  border: 1px solid #ddd;
}

tr {
  background-color: #fff; 
}

tr:hover {
  background-color: #e9ecef;
}

#controls {
  margin-bottom: 10px;
  & button{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

button {
  margin-right: 5px;
  padding: 5px 10px;
}

.selected {
  background-color: #cce5ff; 
}

#controls button {
  margin-right: 5px;
  padding: 5px 10px;
}

.custom-checkbox {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.custom-checkbox i {
  font-size: 16px;
  color: gray; 
}

.custom-checkbox.checked i {
  color: blue; 
}
